body {
  font-family: Helvetica;
  text-align: center;
}

#header {
  background-image: url("../images/flatiron.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#head {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  list-style-position: outside;
}

#index {
  list-style-type: none;
  color: white;
}

.link {
  font-size: 18px;
  color: white;
}

#process {
  font-size: 32px;
  font-weight: bold;
}

.sub-headers {
  font-size: 23px;
  font-weight: bold;
}

.info {
  font-size: 14px;
}

#second-header {
  background-image: url("../images/flatiron.png");
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
